.container{
  background: var(--cor-primary);
  display: flex;
  justify-content: space-around;
}

.submessage{
  color: #fff;
  text-align: justify;
  font-weight: 700;
}


.central, .central-social{
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.central > div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.central > div  > a {
  font-weight: 700;
}

a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}




.central-social > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 0.5rem;
  align-items: baseline;
}


/* Estilos para dispositivos móveis */
@media screen and (max-width: 767px) {
  /* Estilos para telas menores que 768 pixels de largura */
  
  /* Exemplos de regras de estilo: */
   .container{
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
  }
  
  .container > div > img {
    width:100px;
  }
  
  
  .submessage{
    font-size: 8px;
    max-width: 25rem;
  }
  
  
  .central, .central-social{
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .central > h2 {
    font-size: 16px;
  }
  .central > div {
    gap: 0.5rem;
  }
  .central > div  > a {
    font-size: 10px;
  }
  
  .central-social > h2 {
   font-size: 16px;
  }
  .central-social > div {
    gap: 1rem;
    margin-left: 0.5rem;
  }
  .central-social > div > a > svg {
    width: 20px;
    height: 20px;
  }
  
  .endereco{
    font-size: 10px;
  }
}

/* Estilos para tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para telas com largura entre 768px e 1023px */
  
  /* Exemplos de regras de estilo: */
  .container{
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
  }
  
  .container > div > img {
    width:200px;
  }
  
  
  .submessage{
    font-size: 10px;
    max-width: 25rem;
    margin-left: 2rem;
  }
  
  
  .central, .central-social{
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .central > h2 {
    font-size: 20px;
  }
  .central > div {
    gap: 0.5rem;
  }
  .central > div  > a {
    font-size: 12px;
  }
  
  .central-social > h2 {
   font-size: 20px;
  }
  .central-social > div {
    gap: 1rem;
    margin-left: 0.5rem;
  }
  .central-social > div > a > svg {
    width: 20px;
    height: 20px;
  }
  


}

/* Estilos para desktops */
@media screen and (min-width: 1024px) {
  /* Estilos para telas maiores que 1023px de largura */
  
  /* Exemplos de regras de estilo: */
  .container{
    padding: 1rem;
  }
  
  .container > div > img {
    width:250px;
  }
  
  
  .submessage{
    font-size: 10px;
    max-width: 25rem;
    margin-left: 2rem;
  }
  
  
  .central, .central-social{
    margin-top: 1rem;
    gap: 0.5rem;
  }
  .central > div {
    gap: 0.5rem;
  }
  .central > div  > a {
    font-size: 18px;
  }
  
  .central-social > div {
    gap: 1rem;
    margin-left: 0.5rem;
  }
  

}