<div class="isload" *ngIf="!isload">
    <img id="logo" width="120px" src="assets/image/logo-globo.png" alt="">
</div>
<div class="containerPrimary" [hidden]="!isload">
  <app-header></app-header>
  <div>
    <div class="present">
      <h1 id="textPresent" >
        Sem travamentos<br />
        e muito mais rapida!
      </h1>
    </div>
      <img id="apresentacao"
      src="assets/image/pexels-fauxels-3184357.jpg"
      alt="img_apresentacao"
      (load)="loadImage()"
      >
  </div>
  <section class="containerPlanos" id="planos">
    <h1>Nossos planos</h1>
    <h3>Confira abaixo os planos residenciais mais assinados pelos nossos clientes</h3>
    <div class="containerCards">

      <div class="containerCard" *ngFor="let item of listaPlanos">
        <div class="headerCard">
          <h2>{{item.titulo}}</h2>
        </div>
        <div class="cardDescription">
          <ul>
            <li>{{item.download}}</li>
            <li>{{item.upload}}</li>
          </ul>
          <h4>{{item.descricao}}</h4>
        </div>
        <div class="btn">
          <a [href]="item.link" target="_blank" >Contrate agora</a>
        </div>
      </div>
    </div>
  </section>
  <section class="containerMap" id="cobertura">
    <div class="tituloMap">
      <h1> Nossos pontos de cobertura</h1>
      <h3>Interaja com o mapa a baixo para mais informações dos nossos pontos de atendimento</h3>
    </div>
    <div class="map">
      <div class="descripition" *ngIf="screenSize$ | async">
        <h1>Quais são as Vantagens?</h1>
        <div class="contaierSlide">
          <app-show-slide ></app-show-slide>
        </div>
      </div>

      <app-mapa ></app-mapa>
    </div>
  </section>
  <app-footer ></app-footer>
  <app-tooltipo *ngIf="active$ | async"></app-tooltipo>
</div>
