<div class="containerPrimary">
  <app-header></app-header>
  <div>
    <div class="present">
      <h1 id="textPresent" >
        Sem travamentos<br />
        e muito mais rapida!
      </h1>
    </div>
    <video #myVideo autoplay controls>
      <source src="assets/videos/pexels-pixabay-855411-1920x1080-25fps.mp4" type="video/mp4" />
    </video>
  </div>
  <section class="containerPlanos" id="planos">
    <h1>Nossos planos</h1>
    <h3>Confira abaixo os planos residenciais mais assinados pelos nossos clientes</h3>
    <div class="containerCards">

      <div class="containerCard">
        <div class="headerCard">
          <h2>80 MEGAS</h2>
        </div>
        <div class="cardDescription">
          <ul>
            <li>Download: 80 Mega</li>
            <li>Upload: 80 Mega</li>
          </ul>
          <h4>Instalação gratuita 100% Fibra Ótica</h4>
        </div>
        <div class="btn">
          <a href="https://wa.me/5543999249445?text=Gostaria%20de%20mais%20informações%20sobre%20a%20internet%20de%2080%20mega" target="_blank" >Contrate agora</a>
        </div>
      </div>

      <div class="containerCard">
        <div class="headerCard">
          <h2>100 MEGAS</h2>
        </div>
        <div class="cardDescription">
          <ul>
            <li>Download: 100 Mega</li>
            <li>Upload: 100 Mega</li>
          </ul>
          <h4>Instalação gratuita 100% Fibra Ótica</h4>
        </div>
        <div class="btn">
          <a href="https://wa.me/5543999249445?text=Gostaria%20de%20mais%20informações%20sobre%20a%20internet%20de%20100%20mega" target="_blank" >Contrate agora</a>
        </div>
      </div>

      <div class="containerCard">
        <div class="headerCard">
          <h2>400 MEGAS</h2>
        </div>
        <div class="cardDescription">
          <ul>
            <li>Download: 400 Mega</li>
            <li>Upload: 400 Mega</li>
          </ul>
          <h4>Instalação gratuita 100% Fibra Ótica</h4>
        </div>
        <div class="btn">
          <a href="https://wa.me/5543999249445?text=Gostaria%20de%20mais%20informações%20sobre%20a%20internet%20de%20400%20mega" target="_blank" >Contrate agora</a>
        </div>
      </div>

      <div class="containerCard">
        <div class="headerCard">
          <h2>500 MEGAS</h2>
        </div>
        <div class="cardDescription">
          <ul>
            <li>Download: 500 Mega</li>
            <li>Upload: 500 Mega</li>
          </ul>
          <h4>Instalação gratuita 100% Fibra Ótica</h4>
        </div>
        <div class="btn">
          <a href="https://wa.me/5543999249445?text=Gostaria%20de%20mais%20informações%20sobre%20a%20internet%20de%20500%20mega" target="_blank" >Contrate agora</a>
        </div>
      </div>

      <div class="containerCard">
        <div class="headerCard">
          <h2>700 MEGAS</h2>
        </div>
        <div class="cardDescription">
          <ul>
            <li>Download: 700 Mega</li>
            <li>Upload: 700 Mega</li>
          </ul>
          <h4>Instalação gratuita 100% Fibra Ótica</h4>
        </div>
        <div class="btn">
          <a href="https://wa.me/5543999249445?text=Gostaria%20de%20mais%20informações%20sobre%20a%20internet%20de%20700%20mega" target="_blank" >Contrate agora</a>
        </div>
      </div>

      <div class="containerCard">
        <div class="headerCard">
          <h2>800 MEGAS</h2>
        </div>
        <div class="cardDescription">
          <ul>
            <li>Download: 800 Mega</li>
            <li>Upload: 800 Mega</li>
          </ul>
          <h4>Instalação gratuita 100% Fibra Ótica</h4>
        </div>
        <div class="btn">
          <a href="https://wa.me/5543999249445?text=Gostaria%20de%20mais%20informações%20sobre%20a%20internet%20de%20800%20mega" target="_blank" >Contrate agora</a>
        </div>
      </div>
      <div class="containerCard">
        <div class="headerCard">
          <h2>900 MEGAS</h2>
        </div>
        <div class="cardDescription">
          <ul>
            <li>Download: 900 Mega</li>
            <li>Upload: 900 Mega</li>
          </ul>
          <h4>Instalação gratuita 100% Fibra Ótica</h4>
        </div>
        <div class="btn">
          <a href="https://wa.me/5543999249445?text=Gostaria%20de%20mais%20informações%20sobre%20a%20internet%20de%20900%20mega" target="_blank" >Contrate agora</a>
        </div>
      </div>
    </div>
  </section>
  <section class="containerMap" id="cobertura">
    <div class="tituloMap">
      <h1> Nossos pontos de cobertura</h1>
      <h3>Visualize no mapa abaixo os nossos pontos de atendimento</h3>
    </div>
    <div class="map">
      <div class="descripition" *ngIf="screenSize$ | async">
        <h1>Quais são as Vantagens?</h1>
        <div class="contaierSlide">
          <app-show-slide ></app-show-slide>
        </div>
      </div>
      <app-mapa></app-mapa>
    </div>
  </section>
  <app-footer id="contatos"></app-footer>
  <app-tooltipo *ngIf="active$ | async"></app-tooltipo>
</div>